%ul
  %table.table.table-striped.table-bordered.table-condensed
    %tr
      %th
        JobManagerName
      %th
        Current Load (%)
      %tr
        %td
          %i.icon-time
          jm-c
        %td 
          %i.icon-eye-open
          0
      %tr
        %td
          %i.icon-time
          jm-u
        %td 
          %i.icon-eye-open
          0
