%li.navi-font
  = link_to about_path do
    %i.icon-book
    About
%li.navi-font 
  = link_to contact_path do
    %i.icon-envelope
    Contact
%li.navi-font
  = link_to  help_path do
    %i.icon-question-sign
    Help


